<a href="https://colab.research.google.com/github/SahilKhurana369/Artificial_Intelligence/blob/main/The_Pandas_Workshop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Chapter - 1 - Introduction to Pandas

## Components and applications of pandas
An introduction to the pandas library would be incomplete without a glimpse into its architecture. The pandas library is comprised of the following components:

pandas/core: This contains the implementations of the basic data structures of pandas, such as Series and DataFrames. Series and DataFrames are basic toolsets that are very handy for data manipulation and are used extensively by data scientists. They will be covered in Chapter 2, Data Structures.

pandas/src: This consists of algorithms that provide the basic functionalities of pandas. These functionalities are part of the architecture of pandas, which you will not be using explicitly. This layer is written in C or Cython.

pandas/io: This comprises toolsets for the input and output of files and data. These toolsets facilitate data input from sources such as CSV and text and allow you to write data to formats such as text and CSV. They will be covered in detail in Chapter 3, Data I/O.

pandas/tools: This layer contains all the code and algorithms for pandas functions and methods, such as merge, join, and concat.

pandas/sparse: This contains the functionalities for handling missing values within its data structures, such as DataFrames and Series.

pandas/stats: This contains a set of tools for handling statistical functions such as regression and classification.

pandas/util: This contains all the utilities for debugging the library.

pandas/rpy: This is the interface for connecting to R.

## The Series object

one-dimensional data

In pandas, one-dimensional data is represented as Series objects. Series objects are initialized using the pd.Series() constructor.

In [ ]:
# Creating a Series - Example 1
ser1 = pd.Series([10,20,30,40])
ser1

0    10
1    20
2    30
3    40
dtype: int64

a Series with multiple data types, there are lists with numeric and text data (lines 0, 1, and 2) along with a dictionary (line 3). From the output.

In [ ]:
# Creating a Series - Example 2

ser2 = pd.Series([[10, 20],\
                  [30, 40.5,'series'],\
                  [50, 55],\
                  {'Name':'Tess','Org':'Packt'}])

In [ ]:
ser2

0                            [10, 20]
1                  [30, 40.5, series]
2                            [50, 55]
3    {'Name': 'Tess', 'Org': 'Packt'}
dtype: object

## The DataFrame object